.uigap {
	margin: 1rem;
}

div.v-overlay__scrim {
	backdrop-filter: blur(1px);
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

.flex {
	display: flex;
}
.horizontal {
	flex-flow: row nowrap;
}

.v-app-bar-title {
	margin-inline-end: 20px;
}

.mc-appbar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.of-auto {
	overflow: auto;
}

.flex {
	display: flex;
}
.row {
	flex-flow: row nowrap;
}
.gap-1rem {
	gap: 1rem;
}

.padding-small {
	padding: 1rem;
}

.pre-wrap {
	white-space: pre-wrap;
}
